body{
	margin: 0;
	padding: 0;
	background-color: lightgrey;
}
.container{
	margin: 0 auto;
	width: 90%;
}
.logo, .navbar, .banner, .sidebar,.bodyarea{
	height: 100px;
	background-color: orange;
 }
 h1{
 	font-size: 20px;
 	margin: 0;
 	text-align: center;
 	padding-top: 34px;
 }
 .navbar{
 	margin: 15px 0;
 	height: 70px;
 }
 .navbar h1{
 	padding-top: 20px;
 }
 .banner{
 	height: 400px;
 }
 .banner h1{
 	padding-top: 200px;
 }
 .main{
    overflow: hidden;
    margin: 15px 0;

 }
 .sidebar{
    width: 20%;
    float: left;
    height: 600px;

 
 }
 .sidebar h1{
 
 	padding: 300px 0 ;
 }
 .bodyarea{
    width: 78%;
    float: right;
    height: 600px;
 }
 .bodyarea h1{
     padding: 300px 0 ;
 }